#profileImg {
    color: #fcc414;
}

TextField {
    color: #fcc414;
}

Button {
    text-align: left;
}

#cashValue {
    width: 100%;
    height: 25%;
    text-align: center;
    font-size: 36;
    font-weight: bold;
    color: #ffffff;
    background-color:#fcc414;
}

.input-label {
    font-size: 16;
}