<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>277100821952-8jj9ldlmo5cec5lmf6sakimrhnoodjr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277100821952-8jj9ldlmo5cec5lmf6sakimrhnoodjr5</string>
	<key>API_KEY</key>
	<string>AIzaSyChIxaZoHBPBB4_g1eI586Ni63SJbZAmJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>277100821952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.piggybankapp</string>
	<key>PROJECT_ID</key>
	<string>piggybank-app-e2667</string>
	<key>STORAGE_BUCKET</key>
	<string>piggybank-app-e2667.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277100821952:ios:b7e5dba11c1c77d6</string>
	<key>DATABASE_URL</key>
	<string>https://piggybank-app-e2667.firebaseio.com</string>
</dict>
</plist>