TabView {
    border-width: 1;
    border-color: transparent;
}

Image {
    width: 100;
    height: auto
}

.label-heading {
    color: #ffffff;
}

.label-tab {
    height: 50;
    text-align: center;
    color: #3c919b;
    background-color: #ededed;
    padding-top: 10;
}
