ActionBar {
  background-color:#fcc414;
  color: #ffffff;
}

.login-page {
  background-color: #fcc414;
}

.header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  padding-top: 10;
}

.logo {
  padding-top: 10;
  /*
  border: solid;
  border-color: #000000;
  border-width: 1;*/
}

.pecita {
  text-align: center;
  padding-top: 10;
  color: #ffffff;
  font-family: "Pecita";
  font-size: 35;
}

.start-page-btn {
  height: 8%;
  margin-top: 5;
  margin-bottom: 10;
  background: rgba(255, 255, 255, 0.5);
}

.secondary-btn {
  width: 50%;
  color: #a5a5a5;
  font-size: 18;
}

.login {
  width: 85%;
  height: 55%;
  padding-top: 50;
  /*border: solid;
  border-color: #000000;
  border-width: 1;*/
}
.userInput {
  height: 40%;
  padding-top: 10;
  padding-bottom: 10;
}
TextField {
  height: 30%;
  margin-bottom: 10;
  padding-left: 5;
  color: #ffffff;
  font-size: 18;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
  border-bottom-width: 1;
}

.btn {
  width: 85%;
  height: 15%;
  margin-top: 5;
  background-color: #ee671e;
  color: #ffffff;
  font-size: 18;
}

.link {
  margin-top: 5;
  color: #ffffff;
  font-size: 18;
}

